Repository Mapsui/Mapsui, pull requests merged in 2021-09, with the labels that each got.

#1185 Added methods to make mass edit methods to LayerCollection
  Mapsui.UI.Forms/MapView.cs
  Mapsui/Layers/LayerCollection.cs
  Mapsui/Layers/LayerCollectionChangedEventArgs.cs
  Mapsui/Map.cs
Labels: performance

#1192 Invalidate loop
  Mapsui.UI.Android/MapControl.cs
  Mapsui.UI.Forms/MapControl.cs
  Mapsui.UI.Forms/MapView.cs
  Mapsui.UI.Shared/MapControl.cs
  Mapsui.UI.Uwp/MapControl.cs
  Mapsui.UI.Wpf/MapControl.cs
  Mapsui.UI.iOS/MapControl.cs
Labels: performance

#1209 Add getting started iOS documentation
  README.md
  docfx/documentation/getting-started-ios.md
  docfx/documentation/toc.md
Labels: documentation

#1210 add getting started uwp
  docfx/documentation/getting-started-uwp.md
  docfx/documentation/toc.md
Labels: documentation

#1203 Remove unnecessary package refs
  Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Android/Mapsui.Samples.Forms.Android.csproj
  Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Mac/Mapsui.Samples.Forms.Mac.csproj
  Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.WPF/Mapsui.Samples.Forms.WPF.csproj
  Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.iOS/Mapsui.Samples.Forms.iOS.csproj
  Samples/Mapsui.Samples.Wpf/Mapsui.Samples.Wpf.csproj
  Samples/Mapsui.Samples.iOS/Mapsui.Samples.iOS.csproj
Labels: cleanup

#1208 Move WPF to separate nuspec
  Mapsui.sln
  NuSpec/Mapsui.Native.nuspec
  NuSpec/Mapsui.Wpf.nuspec
  Scripts/buildpack.bat
  Scripts/buildpackpush.bat
Labels: platform:WPF

#1219 Add Mapsui.iOS.nuspec
  NuSpec/Mapsui.iOS.nuspec
Labels: platform:iOS

#1220 Add Mapsui.Android.nuspec
  NuSpec/Mapsui.Android.nuspec
Labels: platform:Android

#1221 Add Mapsui.Uwp.nuspec
  NuSpec/Mapsui.Uwp.nuspec
Labels: platform:UWP

#1226 Added ButtonWidget as replacement for SvgButton in MapView
  Mapsui.Rendering.Skia/MapRenderer.cs
  Mapsui.Rendering.Skia/SkiaWidgets/ButtonWidgetRenderer.cs
  Mapsui.UI.Forms/MapView.cs
  Mapsui.UI.Forms/Objects/SvgButton.cs
  Mapsui/Widgets/ButtonWidget/ButtonWidget.cs
Labels: Mapsui.Forms
